@using Promises.Views.Cabinet

<img src="@Url.Action("GetAvatarImage", "Cabinet")" class="img-responsive img-rounded" alt="Avatar" />
<ul class="nav nav-pills nav-stacked">
    <li class="@CabinetNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@CabinetNavPages.ManagePromisesNavClass(ViewContext)"><a asp-action="ManagePromises">Promises</a></li>
    <li class="@CabinetNavPages.FriendsClass(ViewContext)"><a asp-action="Friends">Friends</a></li>
    <li class="@CabinetNavPages.MessagesClass(ViewContext)"><a id="_messages_nav_id" asp-action="Messages">Messages</a></li>
</ul>