@using Promises.Views.Cabinet
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ProfileViewModel profileViewModel = ViewData.GetProfileViewModel();
}


<style>
    body {
        padding-top: 70px;
    }
</style>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            
            @{
                var view = (profileViewModel == null || profileViewModel.IsYourProfile)? 
                    "_YourProfile" : "_OtherUserProfile";
            }

            @await Html.PartialAsync(@view)
            <hr />
            @await Html.PartialAsync("_CabinetNav")
            <hr />
        </div>
        <div class="col-12 col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @{
        //Global varuables
    } 
    <script type="text/javascript">
        //TODO rewrite
        $.get('@Url.Action("GetUnreadAmount", "Cabinet")', v => $("#_messages_nav_id").html("Messages " + (v == 0 ? "" : "(" + v + ")")))
        let _RAZOR_URL_CABINET_PRIVATE_CHAT = '@Url.Action("PrivateChat", "Cabinet", new { friendId = "__id__", friendEmail = "__email__" })'
        let _RAZOR_URL_CABINET_GET_AVATAR = '@Url.Action("GetAvatarImage", "Cabinet", new { width ="__width__", height="__height__", quality="__quality__", userId = "__id__" })'
        let _RAZOR_PROFILE_LINK = '@Url.Action("Profile", "Cabinet", new { userId = "__id__"})'
        let _RAZOR_NOTIFICATION_CONNECTION = new signalR.HubConnection('/notification')
        _RAZOR_NOTIFICATION_CONNECTION.start()
    </script>

    <script type="text/javascript">
        Notification()
    </script>

    
    @if (ViewData["ActivePage"] != null)
    {
        switch (ViewData["ActivePage"].ToString())
        {
            case @CabinetNavPages.Friends:
                <script type="text/javascript">
                    Friends()
                </script>
                break;
            case @CabinetNavPages.PrivateChat:
                <script type="text/javascript">
                    Chat()
                </script>
                break;
            case @CabinetNavPages.Messages:
                <script type="text/javascript">
                    Messages()
                </script>
                break;
            case CabinetNavPages.Profile:
                <script type="text/javascript">
                    ProfilePage()
                </script>
                break;
        }
    }
    }