@using Promises.Views.Cabinet
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            @await Html.PartialAsync("_CabinetNav")
        </div>
        <div class="col-12 col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @{
        //Global var notification
    }

    
    <script type="text/javascript">

        //TODO rewrite
        $.get('@Url.Action("GetUnreadAmount", "Cabinet")', v => $("#_messages_nav_id").html("Messages " + (v == 0 ? "" : "(" + v + ")")))

        let _RAZOR_URL_CABINET_PRIVATE_CHAT = '@Url.Action("PrivateChat", "Cabinet", new { friendId = "__id__", friendEmail = "__email__" })'
        let _RAZOR_URL_CABINET_GET_AVATAR = '@Url.Action("GetAvatar", "Cabinet", new { userId = "__id__"})'

        let _RAZOR_NOTIFICATION_CONNECTION = new signalR.HubConnection('/notification')
        _RAZOR_NOTIFICATION_CONNECTION.start()
    </script>
    <script type="text/javascript" src="~/js/notification.js"></script>

    
    @if (ViewData["ActivePage"] != null)
    {
        switch (ViewData["ActivePage"].ToString())
        {
            case @CabinetNavPages.Friends:
                <script type="text/javascript" src="~/js/friends.js"></script>
                break;
            case @CabinetNavPages.PrivateChat:
                <script type="text/javascript" src="~/js/chat.js"></script>
                break;
            case @CabinetNavPages.Messages:
                <script type="text/javascript" src="~/js/messages.js"></script>
                break;
        }
    }
    }