@model ProfileViewModel

@{
    var base64 = Convert.ToBase64String(Model.Avatar);
    var avatar = String.Format("data:{0};base64,{1}", Model.AvatarContentType, base64);
    var status = @Model.IsOnline ? "online" : "offline";
}

<div class="thumbnail">
    <img style="display:block; margin:auto; width:100%"
         src="@avatar" width="300" height="250"
         class="img-responsive img-thumbnail main-avatar" alt="Avatar" />

    <div align="center" class="caption">
        <h3>@Model.Email</h3>
        
        <small class="bold text-muted">@status</small>
        <small id="_friend_status" class="bold text-muted">&nbsp;&nbsp;&nbsp;&nbsp;@Model.FriendStatus</small>
        <hr />
        <a role="button" class="btn btn-link" data-toggle="modal" data-target="#_payment_details">Info</a>
        <a href="@Url.Action("PrivateChat", "Cabinet", new { friendId = Model.Id, friendEmail = Model.Email })" class="btnbtn-link" role="button">Chat</a> 
        <a role="button" class="btn btn-link" data-toggle="modal" data-target="#_modal_pay">Pay</a>
        @if (Model.FriendStatus == "")
        {
            <a id="_add_friend" onClick="$.get('@Url.Action("RequestFriendship", "Friends", new { friendUserId = Model.Id })', () => OtherUserProfile.handleAddFriend())" 
               class="btn btn-link" role="button">Add</a>
        }
    </div>
</div>
